<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.S} %c [%-5p]: %m%n"/>
        </Console>

        <RollingFile name="File" fileName="logs/log.log" filePattern="logs/log-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.S} %c [%p]: %m%n"/>
            <SizeBasedTriggeringPolicy size="1MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Exposed" level="DEBUG"/>
        <Logger name="tg-api" level="DEBUG"/>
        <Logger name="io.ktor.server.Application" level="INFO"/>
        <Logger name="io.netty" level="INFO"/>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>